body {
    margin: 0;
}

/* 1920x1080 に最適化 */
.slideContainer {
    composes: slideContainer from "./common.module.css";
    font-family: sans-serif;
    overflow: hidden;
    /* 念のため */
}

.mainContentArea {
    composes: mainContentArea from "./common.module.css";
}

/* -------------------- 画面左側: 静的画像エリア (40%幅) -------------------- */
.leftPanel {
    composes: leftPanel from "./common.module.css";
}

/* 左側の静的画像 */
.staticImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 画像全体を表示し、サイズに合わせる */
}

/* -------------------- 画面右側: テキスト・情報エリア (60%幅) -------------------- */
.rightPanel {
    display: flex;
    align-items: center;
    width: 38%;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
}

/* --- テキスト要素の基本スタイル --- */
.title {
    font-size: 54px;
    font-weight: 800;
    color: #333;
    margin-bottom: 5px;
}

.startTime {
    font-size: 36px;
    color: #E33C0B;
    margin-top: 0;
    margin-bottom: 0px;
}

.waitMessage {
    font-size: 28px;
    margin-bottom: 20px;
}

/* --- カウントダウン表示エリア --- */
.countdown {
    margin: 30px 0;
    padding: 15px 30px;
    text-align: center;
    border: 4px solid #333;
    width: 420px;
    max-width: 100%;
}

.countdownFinished {
    border: none;
    width: auto;
}

.countdownLabel {
    margin: 0;
    font-size: 28px;
}

.countdownTime {
    font-size: 80px;
    font-weight: 900;
    display: block;
}

.startingSoon {
    color: #E33C0B;
    font-size: 48px;
    margin: 0;
}

.studentNote {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
    text-align: center;
}

/* --- 静的表示エリア (日本語のみ & QRコード) --- */
.staticInfo {
    margin-top: auto;
    /* 下部に寄せる */
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.companyNote {
    font-size: 20px;
    color: #777;
    line-height: 1.5;
    text-align: center;
}

.qrCodeSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.qrCodeSection p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.qrCodePlaceholder {
    /* QRコードの大きさ */
    width: 180px;
    height: 180px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
}

.qrCodePlaceholder img {
    display: block;
    width: 100%;
    height: 100%;
}